<footer>
    &copy; 2023 - SurfScape Advertising is part of the <a href="https://surfscape.neocities.org">SurfScape Project</a> | <a href="{{ '/privacy' | url }}">Privacy Policy</a>
    - <a href="{{ '/terms-of-service' | url }}">Terms of Service</a>
</footer>