:root {
  --color-accent: #ff6600;
  --color-container: #414141;
  --color-border: #878686;

  --spacing-xxsm: 0.25rem;
  --spacing-xsm: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing: 1rem;
  --spacing-md: 1.25rem;
  --spacing-lg: 1.5rem;
  --spacing-xlg: 1.75rem;
  --spacing-xxlg: 2rem;
}

html {
  font-size: 0.925em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  max-width: 900px;
  margin: 4rem auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-bottom: var(--spacing-xxsm);
}

a:hover {
  text-decoration: none;
}

header .header__title {
  display: flex;
  text-align: right;
  gap: var(--spacing-xsm);
  margin: 0 0 var(--spacing-xsm) var(--spacing);
  font-weight: 300;
}

header .page__title {
  display: block;
  font-size: 1.75em;
}

header .service__title {
  font-size: 1.2em;
  font-weight: 600;
}

header .header__title img {
  margin: auto 0;
}

header nav {
  display: flex;
  background: linear-gradient(
    0deg,
    rgb(54, 54, 54) 0%,
    rgba(83, 83, 83, 1) 100%
  );
}

header nav a {
  display: block;
  padding: var(--spacing-xsm) var(--spacing);
  color: white;
  border-bottom: 4px solid var(--color-border);
  text-decoration: none;
}

header nav a:hover,
header nav a[aria-current="page"] {
  border-color: var(--color-accent);
}

header nav a:last-child {
  margin-left: auto;
  border: none;
  color: black;
  background: var(--color-accent);
}

main {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin: 0 auto;
  padding: var(--spacing-lg) var(--spacing);
}

main :first-child {
  margin-top: 0;
}

aside .aside__title {
  display: block;
  font-size: 1.25em;
  margin-bottom: var(--spacing-sm);
}

.ss--banner {
  display: block;
}

.ss--banner img {
  display: block;
  border: 1px solid var(--color-border);
  width: 100%;
}

form {
  display: grid;
  gap: var(--spacing-sm);
  max-width: 500px;
  padding: var(--spacing);
  border: 1px solid var(--color-border);
  font: inherit;
}

form * {
  font: inherit;
}

form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

form legend {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: var(--spacing);
}

form .form--group {
  display: grid;
  align-items: center;
  grid-template-columns: 115px 1fr;
  gap: var(--spacing-xsm);
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: var(--spacing-xsm);
}

form input[type="text"],
form input[type="url"],
form input[type="file"] {
  padding: var(--spacing-xsm);
  border: 1px solid var(--color-border);
  margin-bottom: var(--spacing-xsm);
}

form button[type="submit"] {
  padding: var(--spacing-xxsm);
  background-color: var(--color-accent);
  border: none;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: var(--color-border);
}

footer {
  text-align: center;
  padding: var(--spacing-xsm) var(--spacing);
  background: var(--color-container);
}

footer,
footer * {
  color: white;
}

@media only screen and (max-width: 40rem) {
  main {
    grid-template-columns: 1fr;
  }
  aside {
    padding-bottom: var(--spacing);
  }
}
